
<h1 class="app-main-title">IpInfoTest > FavoriteIps</h1>

<app-ip-info-test-table-favorite-ips
  string:tag="table-favorite-ips"
  int:record-id="{{ viewParams.recordId }}"
></app-ip-info-test-table-favorite-ips>